body {
    background-color: aqua;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.container {
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.devises-container {
    border-radius: 10px;
    padding: 20px;
    display: flex;
     justify-content: space-between;
}

.devises-container select {
    padding: 10px;
}

.devises-container input {
    border: 0;
    background: transparent;
    font-size: 20px;
    text-align: right;
    color: aliceblue;
}

select:focus, input:focus {
    outline: none;
}







.conteneur {
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.poids-container {
    border-radius: 10px;
    padding: 20px;
    display: flex;
     justify-content: space-between;
}

.poids-container input {
    border: 0;
    background: transparent;
    font-size: 20px;
    text-align: right;
    color: aliceblue;
}

.poids-container select {
    padding: 10px;
}
